video { width: 300px; 
        margin: 5px;}
.Update{
    border: 2px solid black;
    margin: 5px;
    padding:20px;
    align-items: center;
    width: 80%;
    background-color: rgb(207, 182, 182);
    color: black;
}
.Add{
    border: 2px solid black;
    width: 80%;
    height: 200px;
    margin: 5px;
    padding: 20px;
    background-color: rgb(158, 196, 174);
    color: black;
}
button{
    border: 1px solid grey;
    margin: 5px;
}
.Pause{
    width: 80%;
    border:2px solid black;
    margin: 5px;
    padding: 20px;
    background-color:  rgb(207, 182, 182);
}
body{
    background-color: black;
    color: white;
}